:root {
  --red: #ee4450;
  --orange: #e69140;
  --yellow: #b7a540;
  --green: #42b983;
  --lightblue: #5daaf1;
  --blue: #4683e0;
  --magenta: #c250e5;
  --pink: #de42b8;

  --grey: #333;
  --lighter-grey: #444;
}
