@import 'colors.css';

:root {
  --font-stack: "Droid Sans Mono", monospace;
  --root-text-size: 18px;
  --fg-color: var(--green);
  --bg-color: var(--grey);
  --bg-accent-color: var(--lighter-grey);

  --text-color: var(--fg-color);
  --accent-color: white;

  --content-width: 40em;

}



