html {
  font-size: var(--root-text-size);
}

body {
  font-family: var(--font-stack);
  line-height: 1.418;
  font-size: 1rem;
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, ul, ol {
  margin: 0.7em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack-mono);
  font-weight: bold;
  margin: 0.5em 0 0.35em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}
